body {
  margin: 0;
  background-color: rgb(41, 41, 66);
  color: #fff;
  font-family: sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

label {
  display: block;
}